<%# add navigation links to this file %>
<li class='nav-item'><%= link_to '派工单管理', orders_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to '安装队管理', teams_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to '库存管理', items_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to '帐号', page_path('about'), class: 'nav-link' %></li>
