<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>弘飞盛兴</title>

  <link rel="stylesheet" href="https://unpkg.com/gutenberg-css" media="print" charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/gutenberg-css/dist/themes/oldstyle.min.css" media="print" charset="utf-8">
  <link href="https://cdn.bootcss.com/semantic-ui/2.2.10/components/table.min.css" rel="stylesheet">
  <style type="text/css">
    @media print {
      @page {
        margin: 1cm;
      }
    h1 {page-break-before: always;}
    }
  </style>
</head>
<body>
<header>
  <a href="/orders" >返回</a>
</header>
<%= yield %>

</body>
</html>

